@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-x: hidden;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

:root {
  --top-bar-height: 80px;
}

/* 라이브러리 */
.con-min-width {
  min-width: 1080px;
}

.con {
  width: 1080px;
}

/* 커스텀 */
/* 탑바 구현 시작 */
.top-bar {
  height: var(--top-bar-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.top-bar .related-btn-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.top-bar .related-btn-wrap.active .related-btn::after {
  transform: translateY(-50%) rotate(-180deg);
}
.top-bar .related-btn-wrap.active .menu-dropdown__list ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.top-bar .related-btn-wrap .related-btn {
  background-color: rgba(244, 244, 244, 0.8);
  color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px 10px 20px;
  height: 40px;
  font-size: 15px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}
.top-bar .related-btn-wrap .related-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  right: 10%;
  background-image: url(/assets/images/svg_line_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  transition: all 0.3s;
}
.top-bar .global-icon-wrap {
  margin-left: 30px;
}
.top-bar .global-icon-wrap .global-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.top-bar .global-icon-wrap .global-link:hover .global-icon {
  opacity: 0.3;
}
.top-bar .global-icon-wrap .global-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/images/icon_eng.svg);
  background-position: center;
  background-size: 20px 20px;
}

.top-bar__menu li:hover > a[class*=link-text] {
  text-decoration: underline;
}
.top-bar__menu .menu-item:hover .mega-menu-wrap {
  display: block;
}
.top-bar__menu .link-text {
  display: flex;
  height: 100%;
  align-items: center;
  padding-inline: 1.3rem;
}

.mega-menu-wrap {
  display: none;
  position: absolute;
  left: 0;
  transform: translateY(1px);
  width: 100%;
  padding: 60px 0 36px;
  background-color: #fff;
}
.mega-menu-wrap .depth2-menu .depth2-link-text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.mega-menu-wrap .depth3-menu .depth3-link-text {
  font-size: 13px;
  display: block;
  text-align: center;
  padding-block: 10px;
  color: #444;
}
.mega-menu-wrap .anchor::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/assets/images/svg_line_outlink.svg);
  background-size: 14px 14px;
  margin-left: 4px;
  transform: translateY(3px);
}
.mega-menu-wrap .anchor-middle::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/assets/images/svg_line_outlink.svg);
  background-size: 18px 18px;
  margin-left: 4px;
  transform: translateY(3px);
}

.menu-dropdown__list {
  position: absolute;
  border-radius: 6px;
  font-size: 16px;
  top: 100%;
  padding-top: 10px;
  width: 240px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
}
.menu-dropdown__list ul {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 0.1s linear;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
}
.menu-dropdown__list ul li:hover a {
  text-decoration: underline;
}
.menu-dropdown__list ul a {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  font-size: 13px;
}
.menu-dropdown__list ul a::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/assets/images/svg_line_outlink.svg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 12px 12px;
  margin-top: -2px;
  margin-left: 4px;
}

/* 탑바 구현 끝 */
/* main-banner 구현 시작 */
#main-banner {
  background-color: #ffef6b;
  height: 648px;
}
#main-banner .con {
  position: relative;
  max-width: 1200px;
  height: 884px;
  background-image: url(/assets/images/main-bg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
#main-banner .banner-intro {
  position: absolute;
  top: 135px;
  left: 90px;
}
#main-banner .banner-intro .intro-title {
  font-weight: bold;
  font-size: 49px;
}
#main-banner .banner-intro .des-1,
#main-banner .banner-intro .des-2 {
  opacity: 0.7;
}
#main-banner .banner-intro .list-store a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  font-size: 16.2px;
  font-weight: bold;
  color: #333;
  background: #fff;
  text-align: center;
}
#main-banner .banner-intro .list-store a span {
  display: flex;
}
#main-banner .banner-intro .list-store a span::before {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/img_kabang_220615.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  background-position: -341px -292px;
}
#main-banner .banner-intro .list-store li:last-child span::before {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/img_kabang_220615.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  background-position: -371px -292px;
}

/* main-banner 구현 끝 */
/* 섹션 1 ~ 5 구현 시작 */
.section {
  height: 750px;
  background-color: #fff;
  color: #111;
}
.section .section-inner {
  max-width: 1200px;
  margin-inline: auto;
  height: 100%;
  display: flex;
}
.section .section-inner > div {
  flex-grow: 1;
  height: 100%;
  position: relative;
}
.section .img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  width: 100%;
}
.section .text-box .title {
  font-size: 40px;
  font-weight: bold;
}
.section .text-box .des {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}
.section .text-box .cont-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}
.section .text-box .cont-btn a:hover span {
  text-decoration: underline;
}
.section .text-box .cont-btn span {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.section .text-box .cont-btn span::after {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/home_arr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 10px;
  transform: translateY(-1px);
}

.section-divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

.section-1 {
  margin-top: 148px;
}
.section-1 .section-left .img-box {
  width: 473px;
}
.section-1 .section-right .text-box {
  margin-left: 60px;
}

.section-2 {
  overflow: hidden;
}
.section-2 .section-left .text-box {
  margin-left: 50px;
}
.section-2 .section-left .cont-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  width: 158px;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}
.section-2 .section-left .cont-img img {
  width: 440px;
}
.section-2 .section-right {
  transform: translateX(50%);
  opacity: 0;
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}
.section-2 .section-right.active {
  transform: translateX(0);
  opacity: 1;
}
.section-2 .section-right .img-box {
  width: 409px;
  height: 722px;
}

.section-3 .section-left .img-box {
  width: 459px;
  height: 607px;
}
.section-3 .section-right .text-box {
  margin-left: 80px;
}

.section-4 .section-left .text-box {
  margin-left: 80px;
}
.section-4 .section-right .img-box {
  width: 492px;
  height: 408px;
}

.section-5 {
  background: url(/assets/images/home_map.png) no-repeat -12% 50%;
}
.section-5 .section-left {
  transform: translateY(50%);
  opacity: 0;
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}
.section-5 .section-left.active {
  transform: translateY(0);
  opacity: 1;
}
.section-5 .section-left .img-box {
  width: 408px;
  height: 715px;
}
.section-5 .section-right .text-box {
  margin-left: 110px;
}

/* 섹션 1 ~ 5 구현 끝 */
/* 대출 박스 구현 시작 */
.loan-box {
  position: relative;
  color: white;
}
.loan-box .sky, .loan-box .sky .blue {
  position: absolute;
  inset: 0;
  background-color: #333b58;
}
.loan-box .sky.active .blue, .loan-box .sky .active.blue .blue {
  height: 0 !important;
}
.loan-box .sky.active .moon .base, .loan-box .sky .active.blue .moon .base {
  background-color: #fff;
}
.loan-box .sky.active .moon .shadow, .loan-box .sky .active.blue .moon .shadow {
  top: -23px;
  left: -23px;
  opacity: 1;
}
.loan-box .sky .blue {
  height: 100%;
  background-color: #559cde;
  transition: height 0.85s;
}
.loan-box .sky .moon {
  position: absolute;
  top: 155px;
  left: calc(50% + 460px);
  width: 112px;
  height: 112px;
  overflow: hidden;
}
.loan-box .sky .moon .base {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ffdc00;
  transition: background-color 0.5s 0.5s;
}
.loan-box .sky .moon .shadow {
  position: absolute;
  top: -110%;
  left: -84%;
  width: 100%;
  height: 100%;
  border-radius: 55px;
  background-color: #333b58;
  transition: top 0.85s 0.5s, left 0.85s 0.5s;
}
.loan-box .sky .stars .icon-star {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
}
.loan-box .sky .stars .icon-star-1 {
  top: 30%;
  left: 10%;
  animation: clittering 2s infinite;
}
.loan-box .sky .stars .icon-star-2 {
  top: 10%;
  left: 20%;
  animation: clittering 3s infinite;
}
.loan-box .sky .stars .icon-star-3 {
  top: 25%;
  left: 15%;
  animation: clittering 5s infinite;
}
.loan-box .sky .stars .icon-star-4 {
  top: 40%;
  right: 15%;
  animation: clittering 2s infinite;
}
.loan-box .sky .stars .icon-star-5 {
  top: 43%;
  right: 30%;
  animation: clittering 4s infinite;
}
.loan-box .sky .stars .icon-star-6 {
  top: 73%;
  right: 27%;
  animation: clittering 1.8s infinite;
}
.loan-box .sky .stars .icon-star-7 {
  top: 65%;
  left: 22%;
  animation: clittering 3.5s infinite;
}
.loan-box .con {
  position: relative;
  height: 100%;
  z-index: 1;
}
.loan-box .loan-box-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  width: 166px;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  color: #fff;
}
.loan-box .loan-box-btns a:hover span {
  text-decoration: underline;
}
.loan-box .loan-box-btns a span {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.loan-box .loan-box-btns a span::after {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/home_arr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 10px;
  transform: translateY(-1px);
}
.loan-box .loan-box-btns a span::after {
  background-image: url(/assets/images/home_arr2.png);
}
.loan-box .loan-box-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.loan-box .loan-box-img img {
  width: 429px;
  height: 563px;
}

@keyframes clittering {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
/* 대출 박스 구현 끝 */
/* 체크카드 박스 구현 시작 */
.checkcard-box-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}
.checkcard-box-btn a:hover span {
  text-decoration: underline;
}
.checkcard-box-btn a span {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.checkcard-box-btn a span::after {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/home_arr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 10px;
  transform: translateY(-1px);
}
.checkcard-box-btn a span::after {
  background-image: url(/assets/images/home_arr.png);
}

#checkcard-swiper-container {
  height: 475px;
  position: relative;
}
#checkcard-swiper-container .swiper {
  width: 660px;
  height: 100%;
}
#checkcard-swiper-container .swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}
#checkcard-swiper-container .swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  z-index: 10;
}
#checkcard-swiper-container .swiper-button {
  transform: translateY(-50%) !important;
}
#checkcard-swiper-container .swiper-button:hover::after {
  opacity: 1;
}
#checkcard-swiper-container .swiper-button::after {
  opacity: 0.75;
}
#checkcard-swiper-container .swiper-button-prev::after {
  content: url(https://www.kakaobank.com/static/images/web/img-left.png);
}
#checkcard-swiper-container .swiper-button-next::after {
  content: url(https://www.kakaobank.com/static/images/web/img-right.png);
}

/* 체크카드 박스 구현 끝 */