@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

$site-width: 1080px;

:root {
  --top-bar-height: 80px;
}

/* 라이브러리 */
.con-min-width {
  min-width: $site-width;
}

.con {
  width: $site-width;
}

/* 커스텀 */
/* 탑바 구현 시작 */
.top-bar {
  height: var(--top-bar-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .related-btn-wrap {
    position: relative;
    display: flex;
    align-items: center;

    &.active {
      .related-btn::after {
        transform: translateY(-50%) rotate(-180deg);
      }

      .menu-dropdown__list {
        ul {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .related-btn {
      background-color: rgba(244, 244, 244, 0.8);
      color: rgba(68, 68, 68, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px 10px 20px;
      height: 40px;
      font-size: 15px;
      border: 1px solid rgba(34, 34, 34, 0.1);
      border-radius: 40px;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        right: 10%;
        background-image: url(/assets/images/svg_line_arrow_down.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        transition: all 0.3s;
      }
    }
  }

  .global-icon-wrap {
    margin-left: 30px;

    .global-link {
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
        .global-icon {
          opacity: 0.3;
        }
      }
    }

    .global-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(/assets/images/icon_eng.svg);
      background-position: center;
      background-size: 20px 20px;
    }
  }
}

.top-bar__menu {
  li:hover {
    > a[class*="link-text"] {
      text-decoration: underline;
    }
  }

  .menu-item {
    &:hover {
      .mega-menu-wrap {
        display: block;
      }
    }
  }

  .link-text {
    display: flex;
    height: 100%;
    align-items: center;
    padding-inline: 1.3rem;
  }
}

.mega-menu-wrap {
  display: none;
  position: absolute;
  left: 0;
  transform: translateY(1px);
  width: 100%;
  padding: 60px 0 36px;
  background-color: #fff;

  @mixin link-text {
    display: block;
    text-align: center;
  }

  .depth2-menu {
    .depth2-link-text {
      @include link-text;
      margin-bottom: 10px;
    }
  }

  .depth3-menu {
    .depth3-link-text {
      font-size: 13px;
      @include link-text;
      padding-block: 10px;
      color: #444;
    }
  }

  @mixin anchor-icon($size) {
    content: "";
    display: inline-block;
    width: $size;
    height: $size;
    background: url(/assets/images/svg_line_outlink.svg);
    background-size: $size $size;
    margin-left: 4px;
    transform: translateY(3px);
  }

  .anchor {
    &::after {
      @include anchor-icon(14px);
    }
  }

  .anchor-middle {
    &::after {
      @include anchor-icon(18px);
    }
  }
}

.menu-dropdown__list {
  position: absolute;
  border-radius: 6px;
  font-size: 16px;
  top: 100%;
  padding-top: 10px;
  width: 240px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);

  ul {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: all 0.1s linear;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;

    li:hover {
      a {
        text-decoration: underline;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 15px 24px;
      font-size: 13px;

      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(/assets/images/svg_line_outlink.svg);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 12px 12px;
        margin-top: -2px;
        margin-left: 4px;
      }
    }
  }
}
/* 탑바 구현 끝 */

/* main-banner 구현 시작 */
#main-banner {
  background-color: #ffef6b;
  height: 648px;

  .con {
    position: relative;
    max-width: 1200px;
    height: 884px;
    background-image: url(/assets/images/main-bg3.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .banner-intro {
    position: absolute;
    top: 135px;
    left: 90px;

    .intro-title {
      font-weight: bold;
      font-size: 49px;
    }

    @mixin des {
      opacity: 0.7;
    }

    .des-1,
    .des-2 {
      @include des;
    }

    // 다음 시간에 여기서부터 작업 시작
    @mixin list-store-icon($x: -341px, $y: -292px) {
      content: "";
      display: inline-block;
      background-image: url(/assets/images/img_kabang_220615.png);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      margin: -2px 10px 0 0;
      background-position: $x $y;
    }

    .list-store {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 178px;
        height: 56px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        font-size: 16.2px;
        font-weight: bold;
        color: #333;
        background: #fff;
        text-align: center;

        span {
          display: flex;

          &::before {
            @include list-store-icon();
          }
        }
      }

      li:last-child {
        span::before {
          @include list-store-icon(-371px, -292px);
        }
      }
    }
  }
}
/* main-banner 구현 끝 */

@mixin section-cont-btn($width: 258px) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  width: $width;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}

/* 섹션 1 ~ 5 구현 시작 */
@mixin section-style() {
  height: 750px;
  background-color: #fff;
  color: #111;

  .section-inner {
    max-width: 1200px;
    margin-inline: auto;
    height: 100%;
    display: flex;
  }

  .section-left {
    width: 55%;
    height: 100%;
    position: relative;
    border: 5px solid red;
  }

  .img-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section-right {
    width: 45%;
    height: 100%;
    position: relative;
    border: 5px solid blue;
  }

  .text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    width: 100%;

    .title {
      font-size: 40px;
      font-weight: bold;
    }

    .des {
      font-size: 15px;
      font-weight: 400;
      color: #666;
    }

    .cont-btn {
      a {
        @include section-cont-btn();

        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        gap: 0 7px;

        &::after {
          content: "";
          display: inline-block;
          background-image: url(/assets/images/home_arr.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 10px;
          height: 10px;
          transform: translateY(-1px);
        }
      }
    }
  }
}

.section {
  @include section-style();
}

.section-divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

// 섹션1
.section-1 {
  margin-top: 148px;

  .section-left {
    .img-box {
      width: 473px;

      img {
        width: 100%;
      }
    }
  }

  .section-right {
    .text-box {
      margin-left: 60px;
    }
  }
}

.section-2 {
  .section-left {
    .text-box {
      margin-left: 50px;
    }

    .cont-btn {
      a {
        @include section-cont-btn(158px);
      }
    }

    .cont-img {
      img {
        width: 440px;
      }
    }
  }

  .section-right {
    img {
      width: 409px;
      height: 722px;
      max-width: none;
    }
  }
}

/* 섹션 1 ~ 5 구현 끝 */
