@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

$site-width: 1080px;

/* 라이브러리 */
.con-min-width {
  min-width: $site-width;
}

.con {
  width: $site-width;
}

/* 커스텀 */
/* 탑바 구현 시작 */
.top-bar {
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .related-btn-wrap {
    position: relative;

    .related-btn {
      background-color: rgba(244, 244, 244, 0.8);
      color: rgba(68, 68, 68, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px 10px 20px;
      height: 40px;
      font-size: 15px;
      border: 1px solid rgba(34, 34, 34, 0.1);
      border-radius: 40px;
      cursor: pointer;
      position: relative;

      &.active::after {
        transform: translateY(-50%) rotate(-180deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        right: 10%;
        background-image: url(/assets/images/svg_line_arrow_down.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        transition: all 0.3s;
      }
    }
  }
}

.top-bar__menu {
  .menu-item {
    &:hover > .link-text {
      text-decoration: underline;
    }
  }

  .link-text {
    display: flex;
    height: 100%;
    align-items: center;
    padding-inline: 1.3rem;
  }
}

.menu-dropdown__list {
  position: absolute;
  border-radius: 6px;
  font-size: 16px;
  top: 100%;
  padding-top: 10px;
  width: 240px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);

  ul {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: all 0.1s linear;
    // opacity: 0;
    // transform: translateY(4px);

    li:hover {
      a {
        text-decoration: underline;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 15px 24px;
      font-size: 13px;

      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(/assets/images/svg_line_outlink.svg);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 12px 12px;
        margin-top: -2px;
        margin-left: 4px;
      }
    }
  }
}
/* 탑바 구현 끝 */
