@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

$site-width: 1080px;

:root {
  --top-bar-height: 80px;
}

/* 라이브러리 */
.con-min-width {
  min-width: $site-width;
}

.con {
  width: $site-width;
}

/* 커스텀 */
/* 탑바 구현 시작 */
.top-bar {
  height: var(--top-bar-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .related-btn-wrap {
    position: relative;
    display: flex;
    align-items: center;

    &.active {
      .related-btn::after {
        transform: translateY(-50%) rotate(-180deg);
      }

      .menu-dropdown__list {
        ul {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    .related-btn {
      background-color: rgba(244, 244, 244, 0.8);
      color: rgba(68, 68, 68, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px 10px 20px;
      height: 40px;
      font-size: 15px;
      border: 1px solid rgba(34, 34, 34, 0.1);
      border-radius: 40px;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        right: 10%;
        background-image: url(/assets/images/svg_line_arrow_down.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        transition: all 0.3s;
      }
    }
  }

  .global-icon-wrap {
    margin-left: 30px;

    .global-link {
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
        .global-icon {
          opacity: 0.3;
        }
      }
    }

    .global-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(/assets/images/icon_eng.svg);
      background-position: center;
      background-size: 20px 20px;
    }
  }
}

.top-bar__menu {
  li:hover {
    > a[class*="link-text"] {
      text-decoration: underline;
    }
  }

  .menu-item {
    &:hover {
      .mega-menu-wrap {
        display: block;
      }
    }
  }

  .link-text {
    display: flex;
    height: 100%;
    align-items: center;
    padding-inline: 1.3rem;
  }
}

.mega-menu-wrap {
  display: none;
  position: absolute;
  left: 0;
  transform: translateY(1px);
  width: 100%;
  padding: 60px 0 36px;
  background-color: #fff;

  @mixin link-text {
    display: block;
    text-align: center;
  }

  .depth2-menu {
    .depth2-link-text {
      @include link-text;
      margin-bottom: 10px;
    }
  }

  .depth3-menu {
    .depth3-link-text {
      font-size: 13px;
      @include link-text;
      padding-block: 10px;
      color: #444;
    }
  }

  @mixin anchor-icon($size) {
    content: "";
    display: inline-block;
    width: $size;
    height: $size;
    background: url(/assets/images/svg_line_outlink.svg);
    background-size: $size $size;
    margin-left: 4px;
    transform: translateY(3px);
  }

  .anchor {
    &::after {
      @include anchor-icon(14px);
    }
  }

  .anchor-middle {
    &::after {
      @include anchor-icon(18px);
    }
  }
}

.menu-dropdown__list {
  position: absolute;
  border-radius: 6px;
  font-size: 16px;
  top: 100%;
  padding-top: 10px;
  width: 240px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);

  ul {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: all 0.1s linear;
    transform: translateY(20px);
    opacity: 0;

    li:hover {
      a {
        text-decoration: underline;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 15px 24px;
      font-size: 13px;

      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(/assets/images/svg_line_outlink.svg);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 12px 12px;
        margin-top: -2px;
        margin-left: 4px;
      }
    }
  }
}
/* 탑바 구현 끝 */

/* main-banner 구현 시작 */
#main-banner {
  background-color: #ffef6b;
  height: 648px;

  .con {
    position: relative;
    max-width: 1200px;
    height: 884px;
    background-image: url(/assets/images/main-bg3.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
/* main-banner 구현 끝 */
